<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My awesome Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Welcome to our school</h1>
    <h2>students</h2>
    
    <table class="studentsTable">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% for( let i = 0; i < students.length; i++ ) { %>
            <tr>
                <td><%= students[i].id %></td>
                <td><a href="student?id=<%= students[i].id %>"><%= students[i].name %></a></td>
                <td><a href="mailto:<%= students[i].email %>"><%= students[i].email %></a></td>
            </tr>
        <% } %>
    </table>


</body>
</html>